body {
  margin: 0;
  padding: 0;
  padding-bottom: 500px;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 7rem;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 4rem;
  font-family: "Poppins";
}

header p {
    transition: all 0.3s ease-in-out;
}

header p:hover {
    /* color: black; */
    background-color: rgb(98, 98, 229);
    cursor: pointer;
}

.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1512364615838-8088a04a778b?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center;
  /* margin-top: -1.5rem; */
  background-attachment: fixed;
}

.home .head {
  color: white;
  font-family: "Poppins";
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.head p {
  font-size: 1.5rem;
  font-weight: 400;
}
